/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
  font-family: 'Open Sans', sans-serif;
  }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  background-color: #333;
  color: #efefef;
  padding: 30px 0;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #fff;
}
    
.container {
    max-width: 960px;
}
.well {
    background-color: transparent;
}
.lead {
    color: #555;
}
.btn-lg {
    padding: 14px 20px;
    margin-right: 20px; 
}

/* Navigation */
.navbar {
  background-color: #888;
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #fff;
}
.nav>li>a:hover, 
.nav>li>a:focus,
.open>a, 
.nav .open>a:hover, 
.nav .open>a:focus,
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
  background-color: #666;
  color: #fff;
}

/* index.html */
html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.features .glyphicon {
    font-size: 32px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
@media only screen and (max-width: 768px) {
    .dropdown-menu>li>a { 
      color: #fff;
    }
}

/* blog */
.post h1 a {
  color: #444;
}
.meta {
  margin-bottom: 1em;
  color: #777;
}
.meta li {
  border-right: 1px solid #ddd;
}
.meta li:last-child {
  border-right: none;
}

.about .fa-rocket {
  font-size: 64px;
}
